{% extends './base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>{{title}}</h1>
    <div class="card">
            <div class="card-header">
                {{data.title}}
            </div>
            <div class="card-body">
                <button type="button" class="btn btn-link" data-toggle="modal" data-target="#exampleModalCenter">
                    <h6 class="card-title">#{{data.related_hash}}</h6>
                </button>
                <hr>
              <p class="card-text">{{data.content}}</p>
            </div>
          </div>
    <td><a href='{% url "index" %}' class='btn btn-outline-secondary'>戻る</a></td>
    </table>

    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    <h5>Popover in a modal</h5>
                        <p>This <a href="#" role="button" class="btn btn-secondary popover-test" title="Popover title" data-content="Popover body content is set in this attribute.">button</a> triggers a popover on click.</p>
                        <hr>
                        <h5>Tooltips in a modal</h5>
                        <p><a href="#" class="tooltip-test" title="Tooltip">This link</a> and <a href="#" class="tooltip-test" title="Tooltip">that link</a> have tooltips on hover.</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
