{% extends './base.html' %}
{% load bootstrap4 %}
{% block content %}
    <h1>{{title}}</h1>
    <div class="card">
        <div class="card-header">
            {{data.title}}
        </div>
        <div class="card-body">
            <button type="button" class="btn btn-link" data-toggle="modal" data-target="#ModalCenter">
                <h6 class="card-title">#{{data.related_hash}}</h6>
            </button>
            <hr>
            <p class="card-text">{{data.content| linebreaksbr}}</p>
            <hr>
            <p class="card_text">{{data.next_action| linebreaksbr}}</p>
        </div>
    </div>
    <td><a href='{% url "mydiary:index" %}' class='btn btn-outline-secondary'>戻る</a></td>
    </table>

    <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalCenterTitle">関連リンク({{data.related_hash}})</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                    {% for search in search_data %}
                        <p><a href='{% url "mydiary:detail" search.id%}' class="tooltip-test" title="Tooltip">{{search.title}}</a></p>
                        <hr>
                    {% endfor %}
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
