html, body {
    width: 100%;
    height: 100%;
}

.fa-check-circle{
    color: rgb(45, 228, 54);
}
.advance_task h3{
    color: red;
}

.remaining_task{
    float: left;
    width: 35%;
}

.advance_task{
    float: left;
    width: 35%;
}

.completed_task{
    display:block;
}

.aks{
    width: 50px;
    height: auto;
}

#ajax_task{
    cursor: move;
}

.pasent{
    text-align: right;
    padding-right: 70px;
}

.add_task{
    padding:  0.5em 8em;
    margin: 1em 0;
    font-weight: bold;
    color: #6091d3;/*文字色*/
    background: #FFF;
    border: solid 3px #6091d3;/*線*/
    border-radius: 10px;
    width: 70%;
}


@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

.card-group {
    animation: fade-in 3s;
}

td.bar {
    width: 300px;
}

/* detail.htmlのCSS */

.main-content {
    display: flex;
}

.side-task {
    background-color: #EEEEEE;
    height: 960px;
    width: 30%;
    border-right: solid 2px blue;
}

.task {
    padding: 10px;
    width: 100%;
    height: 960px;
    background-color: rgb(191, 170, 214);
}

.box-priority{
    width: 90px;
    height: 20px;
}

.todo-analysis {
    margin-top: 50px;
    background-color: #FFF;
}

.card-flex {
    display: flex;
}


.fx {
    float: left;
    margin-right: 5%;
}


.context-flex {
    margin: 0 10px 5px 10px;
}

