{% extends 'management/detail.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block big_task %}
    <div class="side-task">
        <table class="table">
            <thead class="thead">
                <tr>
                    <th scope="col">達成タスク</th>
                    <th scope="col">優先度</th>
                </tr>
            </thead>
            <tbody>
                {% for big_task in big_tasks %}
                    <tr>
                        <td><a href="{% url 'management:middle_task_detail' big_task.task.project_id  big_task.id %}">{{big_task.name}}</a></td>
                        <td><span class="badge badge-pill badge-success aks">{{big_task.change_str}}</span></td>
                        <td><input type="submit" class="btn btn-primary btn-sm" onclick="each_task_type(this);" id="task-force-big-{{big_task.id}}" data-toggle="modal" data-target="#change_task_modal" data-whatever="big-task" data-task="{{big_task.name}},{{big_task.priority}},{{big_task.sample_1}}" data-chnageurl="{% url 'management:change_task' big_task.id %}" value="編集"></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <input type="submit" class="btn btn-primary"  onclick="task_name(this);" id="big_task" data-toggle="modal" data-target="#add_task_modal" data-whatever="big-task"  value="達成タスク作成">
    </div>

    <div class="modal fade" id="change_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>タスクを変更します！！</h5>
                    </div>
                    <div class="modal-body">
                        <form action="" method="POST" id="change-form">
                        {% csrf_token %}
                            <div class="form-group">
                                <p>タスクを変えますか？</p>
                                <div class="form-group">
                                    <label for="message-text" class="col-form-label">タスク名:</label>
                                    <input type="text" class="form-control" name="name" id="taskOneName">
                                </div>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">優先度:</label>
                                        <input type="radio" name="priority" value=0>高
                                        <input type="radio" name="priority" value=1>中
                                        <input type="radio" name="priority" value=2>低

                                    <div class="form-group">
                                        <p>期限: <input type="text" id="datepicker" name="date"></p>
                                    </div>
                                </div>
                                <!-- 編集ボタンを押した際に次のリクエストを送るURLなどが入っている -->
                                <input id= "change-task-name" type="hidden" name="tasktype">
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="戻る">
                                <input type="submit" class="btn btn-primary" id="update" onclick="getId(this);" value="更新">
                                <input type="submit" class="btn btn-primary" id="completion" onclick="getId(this);" value="完了">
                                <input type="submit" class="btn btn-primary" id="delete" onclick="getId(this);" value="削除">
                                <input type="hidden" id="decison-making" name="decison-name">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <script>

            const decisonvalue = document.getElementById("decison-making");
            function getId(value){
                decisonvalue.value = value.id
            }


            // 編集モーダル内に特定の値を渡すため
            $("#change_task_modal").on('show.bs.modal', function(event){
                var button = $(event.relatedTarget)
                var recipient = button.data('task').split(","); //splitをしているのは、配列型で特定のinputに代入するため
                var modal = $(this);
                var a = Number(recipient[1]);
                modal.find('.modal-body input#taskOneName').val(recipient[0]);
                // ラジオボタンに値を代入するため
                $(`input[value=${a}]`).prop('checked', true);
                modal.find('.modal-body input#datepicker').val(recipient[2]);

            })
            $('#datepicker').datepicker();


        </script>
{% endblock %}
