{% extends 'management/base.html' %}
{% load widget_tweaks %}
{% load bootstrap4 %}

{% block content %}
    <div class="main-content">
        <div class="side-task">
            <table class="table">
                <thead class="thead">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">達成タスク（プロジェクトを達成するためのタスク）</th>
                        <th scope="col">優先度</th>
                    </tr>
                </thead>
                <tbody>
                    {% for project in projects %}
                        <tr>
                            <th scope="row"><input type="checkbox"></th>
                            <td><a href="{% url 'management:big_task_detail' project.id %}">{{project.title}}</a></td>
                            <td><span class="badge badge-pill badge-success aks">{{project.change_str}}</span></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a onclick="task_name(this);" id="big_task" data-toggle="modal" data-target="#add_task_modal" data-whatever="big-task">達成タスク作成</a>
        </div>
        <div class="task">
            <main role="main" class="container">
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0">今週のタスク（入力でできるようにする）</h6>
                    <table class="table">
                        <tbody>
                            {% for big_task in big_tasks %}
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>{{big_task.middle_task_name}}</td>
                                <td><span class="badge badge-pill badge-success box-priority">{{big_task.change_str}}</span></td>
                                <td>あと1日</td>
                                <td>1</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    <!-- task_nameに変えておくこと -->
                    <a onclick="task_name(this);" id="middle-task" data-toggle="modal" data-target="#add_task_modal"data-whatever="middle-task" >追加</a>
                </div>
                <div class="my-3 p-3 bg-white rounded box-shadow">
                    <h6 class="border-bottom border-gray pb-2 mb-0">今日のタスク（入力でできるようにする）</h6>
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>「達成タスク」をクリック後、紐づけられた「今週タスク」を出すこと（ProjectTask.idで区別したい）</td>
                                <td><span class="badge badge-pill badge-success box-priority">高</span></td>
                                <td>あと1日</td>
                                <td>1</td>
                            </tr>
                            <tr>
                                <th scope="row"><input type="checkbox"></th>
                                <td>「今週タスク」をクリック後、紐づけられた「今日タスク」を出すこと（MiddleTask.idで区別したい）</td>
                                <td><span class="badge badge-pill badge-success box-priority">高</span></td>
                                <td>あと1日</td>
                                <td>1</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="p-3 bg-white rounded box-shadow todo-analysis">
                    <h6 class="border-bottom border-gray pb-2 mb-0">達成状況（固定）</h6>
                    <div class="card-flex">
                        <div class="card border-light mb-3 pd-10" style="max-width: 18rem;">
                            <div class="card-header">達成率</div>
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                        </div>
                        <div class="card border-light mb-3 pd-10" style="max-width: 18rem;">
                                <div class="card-header">今週の達成率</div>
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                        </div>
                        <div class="card border-light mb-3 pd-10" style="max-width: 18rem;">
                                <div class="card-header">タスク消費量</div>
                                <div class="card-body">
                                    <h5 class="card-title">Light card title</h5>
                                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>

    <!-- モーダル作成　* 3（big middle small)は行うため、リファクタリング可 -->
    <div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5>タスクを作成します！！</h5>
                    </div>
                    <div class="modal-body">
                        <form action="{% url 'management:create_task' id  %}" method="POST">
                        {% csrf_token %}
                            <div class="form-group">
                                <label for="message-text" class="col-form-label">タスク名:</label>
                                <input type="text" class="form-control" name="task">
                                <input type="hidden" name="tasktype">
                            </div>
                            <div class="form-group">
                                <label for="recipient-name" class="col-form-label">優先度:</label>
                                <!-- １つ目のfor文は、「優先度」に入っている「高中小」を取り出す -->
                                <!-- 2つ目は、「高中小」を順番に取り出す -->
                                {% for field in form %}
                                    {% for c in field %}
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <!-- <input type="radio" id="customRadioInline1" name="" value="0" class="custom-control-input">
                                            <label class="custom-control-label" for="customRadioInline1">高</label> -->
                                            {{c}}
                                        </div>
                                    {% endfor %}
                                {% endfor %}
                                <div class="form-group">
                                    <p>期限: <input type="text" id="datepicker" name="date"></p>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="戻る">
                                <input type="submit" class="btn btn-primary" value="追加">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    <script>
        function task_name(tasktype){
            var get_id = tasktype.dataset.whatever;
            const result = document.forms[0].tasktype;
            console.log( get_id );
            result.value = get_id;
        }
        $(function(){
            $('#datepicker').datepicker();
        });
    </script>
{% endblock %}

