{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="project-box">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">プロジェクト名</th>
                    <th scope="col">ステータス</th>
                    <th scope="col">進捗</th>
                    <th scope="col">期間</th>
                    <th scope="col">優先度</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td><a href="{% url 'management:project_detail' %}">diaryのタスク管理各リンク</a></td>
                    <td>難航</td>
                    <td>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"  aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </td>
                    <td>残りあと2日</td>
                    <td>高</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>diaryのタスク管理各リンク</td>
                    <td>完了</td>
                    <td><i class="far fa-check-circle"></i></td>
                    <td>残りあと2日</td>
                    <td>普</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td>diaryのスケジュール管理</td>
                    <td>難航</td>
                    <td>0 ~ 100%のタスクバーを使う予定</td>
                    <td>残りあと2日</td>
                    <td>低</td>
                </tr>
            </tbody>
        </table>
    </div>

    <h3>優先度が高く期限が迫っているタスクを表示する(プロジェクト関係なく)</h3>
{% endblock %}