{% extends 'management/base.html' %}
{% load widget_tweaks %}

{% block content %}
    <div class="project-box">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">プロジェクト名</th>
                    <th scope="col">ステータス</th>
                    <th scope="col">進捗</th>
                    <th scope="col">期間</th>
                    <th scope="col">優先度</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                <tr>
                    {% if project.days_left <= 0 %}
                        <th scope="row"><input type="checkbox"></th>
                    {% else %}
                    <th scope="row"></th>
                    {% endif %}
                    <td><a href="{% url 'management:big_task_detail' project.project_id %}">{{project.name}}</a></td>
                    <td>難航</td>
                    <td class="bar">
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="75"  aria-valuemin="0" aria-valuemax="100">75%</div>
                        </div>
                    </td>
                    {% if project.days_left > 0 %}
                        <td>残り{{project.days_left}}日</td>
                    {% elif project.days_left == 0 %}
                        <td>終了日</td>
                    {% else %}
                        <td>{{project.days_left}}日経過</td>
                    {% endif %}
                    <!-- 優先度を文字にしている。数字にしないほうが良いのか？とりあえずこのまま・・・ -->
                    <td>{{ project.change_str }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="p-3 bg-white rounded box-shadow todo-analysis">
        <h6 class="border-bottom border-gray pb-2 mb-0">タスク達成状況（固定）</h6>
        <div class="card-flex">
            <div class="card border-dark mb-3" style="min-width: 15rem;">
                <!-- タスクを処理した総数 -->
                <div class="card-header">総数</div>
                    <div class="card-body">
                        <div id="total-achievement" data-percent="{{total}}"></div>
                    </div>
            </div>
            <div class="context-flex">
                <div class="card text-white bg-primary mb-3" style="max-height: 7rem; width: 15rem;">
                    <!-- 今日できたタスク数 -->
                        <div class="card-header">今週（消費量）</div>
                        <div class="card-body">
                            <div class="today-number">{{week_total}}</div>
                        </div>
                </div>
                <div class="card text-white bg-primary mb-3 pd-10" style="max-height: 7rem; width: 15rem;">
                    <!-- 今日できたタスク数 -->
                        <div class="card-header">今日（消費量）</div>
                        <div class="card-body">
                            <div>{{today_total}}</div>
                        </div>
                </div>
            </div>

        </div>
    </div>
    <!-- モーダル表示にする -->
    <div class="modal fade" id="add_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5>プロジェクト作成します！！</h5>
                </div>
                <div class="modal-body">
                    <form action="{% url 'management:create_project' %}" method="POST">
                    {% csrf_token %}
                        <div class="form-group">
                            <label for="message-text" class="col-form-label">プロジェクト名:</label>
                            <input type="text" class="form-control" name="name">
                        </div>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">優先度:</label>
                            <!-- １つ目のfor文は、「優先度」に入っている「高中小」を取り出す -->
                            <!-- 2つ目は、「高中小」を順番に取り出す -->
                            {% for field in form %}
                                {% for c in field %}
                                    <div class="custom-control custom-radio custom-control-inline">
                                        {{c}}
                                    </div>
                                {% endfor %}
                            {% endfor %}
                            <div class="form-group">
                                <p>期限: <input type="text" id="datepicker" name="date"></p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <input type="submit" class="btn btn-secondary" data-dismiss="modal" value="戻る">
                            <input type="submit" class="btn btn-primary" value="プロジェクトスタート">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script>
        $(function(){
            $('#datepicker').datepicker();
        });

        $( document ).ready(function() {
            $('#total-achievement').circliful();
        });
    </script>
{% endblock %}